/* Reset */
* {
	background: transparent;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: inherit;
	overflow: hidden;
}
body {
	width: 100%;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	line-height: 200%;
	background: #eeeeee;
	color: #888888;
}
a,
a:hover,
a:active {
	text-decoration: none;
}
p {
	margin: 0px 0px 20px 0px;
	line-height: 200%;
}
h1,
h2 {
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	color: #ffffff;
	padding: 20px;
}
h1 {
	font-weight: 300;
	font-size: 32px;
	background: #222222;
}
h2 {
	font-weight: 700;
	font-size: 20px;
	background: #77c043;
	display: inline-block;
	margin: 0px 0px 20px 0px;
}
/* Layout */

#container-outer,
#container {
	max-width: 100%;
	overflow: hidden;
	display: block;
}
#container-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	background: #231e43;
	position: relative;
}
/* Mobile Menu 
.mobile-header {
	line-height: 100%;
	width: 100%;
	display: block;
	position: relative;
	z-index: 30;
	background: #231e43;
	z-index: 9999;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.mobile-header ul {
	margin: 0px;
	padding: 0px;
	z-index: 30;
	list-style: none;
}
.mobile-header ul li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 30;
	width: 15%;
	height: 9%;
}
.mobile-header ul li a {
	margin: 0px;
	padding: 23px 0px;
	width: auto;
	display: block;
	background: none;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #888888;
	cursor: pointer;
	border-right: 1px solid #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.mobile-header ul li.m-menu a {
	font-weight: 700;
}
.mobile-header ul li a:hover,
.mobile-header ul li.active,
.mobile-header ul li.active a {
	color: #ffffff;
}
.mobile-header ul li a:hover,
.mobile-header ul li.active a {
	border-right: 1px solid #ffffff;
}
.mobile-header ul li a span.menu-open,
.mobile-header ul li.active a span.menu-close {
	display: inline;
}
.mobile-header ul li.active a span.menu-open,
.mobile-header ul li a span.menu-close {
	display: none;
}

.mobile-menu {
	margin: 0px;
	background: #222222;
	padding: 12px;
	max-width: 30%;
	text-transform: none;
	font-size: 12px;
	position: fixed;
	top: 9%;
	bottom: 0px;
	left: -40%;
	z-index: 9998;
	display: block;
	height: 100%;
	overflow: hidden;
	color: #ffffff;
	-webkit-transform: translate3d(0,0,0);
}
.mobile-menu.active {
	height: fixed;
	overflow: visible;
}
.mobile-menu-bg {
	background: #222222;
	margin: 0px;
	padding: 10px;
	position: fixed;
	max-width: 30%;
	top: 9%;
	bottom: 0px;
	left: -40%
	z-index: 9997;
	display: block;
	height: 100%;
	-webkit-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 1);
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
}

.mobile-menu.active,
.mobile-menu-bg.active {
	display: block;
}
*/
 /*Snap JS*/
 .snap-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.snap-drawers {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}
.snap-drawer {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    width: 265px;
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.snap-drawer-left {
    left: 0;
    z-index: 1;
}
.snap-drawer-right {
    right: 0;
    z-index: 1;
}
.snapjs-left .snap-drawer-right, .snapjs-right .snap-drawer-left {
    display: none;
}
.snapjs-expand-left .snap-drawer-left, .snapjs-expand-right .snap-drawer-right {
    width: 30%;
}

#content{
    background: white;
}
/* End Snap.js */

.image-container{
	max-width: 22%;
	max-height: 20%;
	min-height: 20%;
}

.image-container img{
	position: relative;
	padding: 3px;
	margin: 3px;
	height: 90%;
	width: 100%;
}
/* Floats */
.clearfloat:after {
	content: ""; 
	display: table;
	clear: both;
}

.cursong, .prevsong, .shufflesong, .sugsong {
    width: 35%;
    height: 22%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5), inset 2px 2px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(0,0,0,.5);  
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(0,0,0,.5);
    -webkit-transform: translate3d(0,0,0);
    z-index: 9995;
    overflow: hidden;
}

.cursong {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	left: 32%;
	top: 45%;
    border: 8px solid red;
    cursor: pointer;
    background-image: url(../img/monstercat.jpg);
    background-position: center;
    z-index: 9995;
    overflow: hidden;
}

.prevsong {
	position: absolute;
	left: -20%;
	top: 45%;
    border: 8px solid blue;
    background-image: url(../img/colors.jpg);
    background-position: center;
    z-index: 9995;
    overflow: hidden;
}

.shufflesong {
	position: absolute;
	left: 82%;
	top: 72%;
    border: 8px solid purple;
    background-image: url(../img/raider.jpg);
    background-position: center;
    z-index: 9995;
    overflow: hidden;
}

.sugsong {
	position: absolute;
	left: 82%;
	top: 45%;
    border: 8px solid green;
    background-image: url(../img/zedd.jpg);
    z-index: 9995;
    background-position: center;
    overflow: hidden;
}

#container-cursong {
	position: fixed;
	width: 50%;
	height: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 27%;
	top: 17%;
	overflow: hidden;
}

.next-song{
	position:fixed;
	width: 50%;
	height: 15%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 27%;
	top: 85%;
	overflow: hidden;
}

#background{
	background: #570313;
	width: 100px;
	height: 100px;
	margin-top: 225px;
	margin-left: 120px;
	border-radius: 50%;
	display: block;
	z-index: 0;
	position: absolute;
	-webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform: translate3d(0,0,0);
    overflow: hidden;
}

#background.open {
	position: fixed;
	margin-top: 60%;
	margin-left: 55%;
	width: 800px;
	height: 800px;
	overflow: hidden;
}


